*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.container{
    background-color: black;
    color: white;
}
.background{
    background-color: white;
    color: black;
}
.header{

}
img{}
a{}