*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.bg-photo{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(10, 10, 10, 0.8);
    
}
.header{
    margin: 10px;
    height: auto;
    overflow: hidden;
    background-color: rgb(109, 107, 107, 0.6);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.logo{
    
    margin: auto 20px;
    
}
.logo:hover{
    transform: rotate(350deg);
    transition: transform 2s;
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}
.links > a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 20px;
    height: 100%;
}
.links > a:hover{
    color: orange;
    transform: translate(-2px);
    background-color: black;
    transition: all 1s ease-in-out;
}
.user{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.user p > a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.user p > a:hover{
    color: orange;
    transform: translate(-2px);
}
.main{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.left-content{
    width: 50%;
    padding: 20px;
    
}
.left-content > h1, h3, p{
    text-align: center;
    color: white;
    padding: 20px;
    transition: 1s;
}
.right-content{
    width: 50%;
    height: auto;
    
}
.right-content img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}
.left-content > button{
    display: block;
    width: 140px;
    background-color: rgb(255, 17, 0);
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0 auto;
}
.left-content > button{
    box-shadow: 2px 4px rgba(29,29, 29, 0.4);
}
  .fa-solid{
    display: none;
    font-size: 16px;
    color: white;
    padding: 10px;
    
}
.main-body{
    width: 100%;
    height: 100vh;
    margin: 0;
}
.element{
    width: 90%;
    padding: 20px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}