*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(photos/background.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
.main-form a > button{
    width: 50px ;
    height: 50px;
    border-radius: 50%;
    position: sticky;
    top: 0;
    margin-top: 10px;
    left: 50px;
    background-color: rgb(255, 17, 0);
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
}
.main-form p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.form-content{
    width: 50%;
    margin: 20px auto;
    background-color: antiquewhite;
    border: 3px solid rgb(238, 204, 140);
    border-radius: 6px;
    padding: 20px;
}
input{
    display: block;
    width: 50%;
    padding: 8px;
    margin: 10px auto;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: rgb(238, 204, 140);
}
label{
    margin-left: 150px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset{
    border: none;
}
.check{
    width: 50%;
    margin: 0 auto;
}
.check input{
    display: inline;
    width: 20px;
    margin: 0;
}
.check p {
    font-size: unset;
    text-align: unset;
    display: inline;
    color: black;
}
.but1{
    display: block;
    width: 140px;
    padding: 6px;
    background-color: rgb(255, 17, 0);
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0 auto;
}
